<!-- navbar.component.html -->
<nav>
    <ul>
      <li *ngIf="!isLoggedIn"><a href="#" (click)="onLogin()">Login</a></li>
      <li *ngIf="isLoggedIn"><a href="#" (click)="onLogout()">Logout</a></li>
    </ul>
    
    <ul *ngIf="isLoggedIn">
      <li><a href="/profile">Profile</a></li>
      <li><a href="/settings">Settings</a></li>
      <!-- Add other private links here -->
    </ul>
  
    <ul *ngIf="!isLoggedIn">
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
      <!-- Add other public links here -->
    </ul>
  </nav>
  